figure {
	border: thin #c0c0c0 solid;
	display: flex;
	flex-flow: column;
	padding: 5px;
	max-width: 600px;
	margin: auto;
}

figcaption {
	background-color: #222;
	color: #fff;
	font: italic smaller sans-serif;
	padding: 3px;
	text-align: center;
}

.gifu, .gunnma h2{
	text-align: center;
	font-size: 2rem;
}

