.yuka{
  max-width: 1200px;
  margin: 0 auto;
	font-family: 'Zen Maru Gothic', sans-serif;
}
/* 画像 */
.okinawa{
  display: flex;
  margin-top: 100px;
}
.chiba{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 100px;
	margin-bottom: 100px;
  text-align: left;
}

/* テキスト */
.okinawa-text{
  margin-left: 150px;
	font-size: 20px;
}
.chiba-text{
  margin-right: 80px;
  width: 500px;
	font-size: 20px;

}

/* 画像の影 */
.okinawa-img img{
  box-shadow: 20px 20px 0 #5e9ef634;
}
.chiba-img img{
  box-shadow: 20px 20px 0 #68f77e34;
}

/* 画像の動き */
.yuka-img{
  animation-name:smoothAnime;
  animation-duration:2s;
  animation-fill-mode:forwards;
    transform-origin:left;
  opacity:0;
}
@keyframes smoothAnime{
  from {
  transform:translate3d(0, 100%, 0) skewY(12deg);
  opacity:0;
  }
  to {
  transform:translate3d(0, 0, 0) skewY(0);
  opacity:1;
  }
}

/* ボタン */
.yuka-btn{
	/*線の基点とするためrelativeを指定*/
position:relative;
	/*ボタンの形状*/  
color:#333;
	padding: 10px 30px;

display:inline-block;
	text-decoration: none;
	outline: none;
}

/*線の設定*/
.yuka-btn::before,
.yuka-btn::after {
content:'';
	/*絶対配置で線の位置を決める*/
position:absolute;
	/*事前に出現させる線の形状*/
border:solid #333;
width:10px;
height:10px;
	/*アニメーションの指定*/
transition:all 0.3s ease-in-out;
}

.yuka-btn::before{
	/*事前に出現させる線の位置*/
top:0;
left:0;
	/*事前に出現させる線の形状*/
border-width:2px 0 0 2px;
}

.yuka-btn::after{
	/*事前に出現させる線の位置*/
bottom:0;
right:0;
	/*事前に出現させる線の形状*/
border-width:0 2px 2px 0;
}

/*hoverした際の線の形状*/
.yuka-btn:hover::before,
.yuka-btn:hover::after{
width:calc(100% - 2px);
height:calc(100% - 2px);
border-color:#666
}

footer{
	text-align: center;
}

.footer-img{
	width: 200px;
}